<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TS_PEACE_Client.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TS_PEACE_Client.GlobalSettings>
            <setting name="Attack1color" serializeAs="String">
                <value>240, 201, 135</value>
            </setting>
            <setting name="Attack2color" serializeAs="String">
                <value>97, 137, 133</value>
            </setting>
            <setting name="Attack3color" serializeAs="String">
                <value>149, 125, 149</value>
            </setting>
            <setting name="Attack4color" serializeAs="String">
                <value>239, 111, 108</value>
            </setting>
            <setting name="Ownlandcolor" serializeAs="String">
                <value>90, 105, 236</value>
            </setting>
            <setting name="Elselandcolor" serializeAs="String">
                <value>215, 94, 67</value>
            </setting>
            <setting name="Targeted" serializeAs="String">
                <value>213, 213, 213</value>
            </setting>
            <setting name="Attack1name" serializeAs="String">
                <value>Attack 1</value>
            </setting>
            <setting name="Attack2name" serializeAs="String">
                <value>Attack 2</value>
            </setting>
            <setting name="Attack3name" serializeAs="String">
                <value>Attack 3</value>
            </setting>
            <setting name="Attack4name" serializeAs="String">
                <value>Attack 4</value>
            </setting>
        </TS_PEACE_Client.GlobalSettings>
    </userSettings>
</configuration>